---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Experiences at James Madison University</h2>
<ul>
  <li>Teaching two sections of Materials and Advanced Mechanics (junior) and two sections of Engineering Design 2 (sophomore) in Spring 2025</li>
  <li>Co‑instructing with experienced faculty in lecture and lab settings in Engineering Design 1 (sophomore), Materials and Advanced Mechanics (junior), and Systems Analysis (senior)</li>
</ul>

<h2>Experiences at Virginia Tech</h2>

<ul>
  <li>Instructor of ME 2134 Thermodynamics in Fall 2023 and Spring 2024 (Dean's list for teaching performance)</li>
  <li>Graduate Teaching Assistant/Instructor of Record of ME 3124 Thermodynamics in Fall 2019 and Spring 2020</li>
  <li>Graduate Teaching Assistant/Grader of ME 3404 Fluid Mechanics in Fall 2018</li>
</ul>

<h2>Pedagogy</h2>
After taking the Preparing the Future Professoriate certificate at VT, I've thought more about my teaching practices, and look forward to continuing to improve my pedagogy. Here is my current <a href="../files/barbish_teaching_philosophy.pdf">teaching philosophy.</a>
<!-- <p style="text-decoration:underline;"><a href="../files/barbish_teaching_philosophy.pdf">teaching philosophy.</a></p> -->

<!-- <p>In the future, I hope to include helpful teaching resources.</p> -->