---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

<h2>Experiences at Virginia Tech</h2>

<ul>
  <li>Graduate Teaching Assistant/<b>Instructor of Record</b> of <b>ME 3124 Thermodynamics</b> in Fall 2019 and Spring 2020</li>
  <li>Graduate Teaching Assistant/Grader of <b>ME 3404 Fluid Mechanics</b> in Fall 2018</li>
</ul>

<h2>Pedagogy</h2>
After taking the Preparing the Future Professoriate certificate at VT, I've thought more about my teaching practices, and look forward to continuing to improve my pedagogy. Here is my current <a href="../files/barbish_teaching_philosophy.pdf">teaching philosophy.</a>
<!-- <p style="text-decoration:underline;"><a href="../files/barbish_teaching_philosophy.pdf">teaching philosophy.</a></p> -->

<!-- <p>In the future, I hope to include helpful teaching resources.</p> -->